<b-nav-item-dropdown right>
    <template #button-content>
        <!-- This is equivalent in theory to: 
            <i class="bi bi-activity"></i> -->
        <svg
            src="/img/activity.svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="bi"
        >
            <path
                d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"
            />
        </svg>
    </template>
    <b-dropdown-text class="centered-text">
        <b>CONSENSUS PROGRESSION</b>
    </b-dropdown-text>
    <div
        v-if="consensus_states.length!=0 &&
              consensus_committee_size!=undefined"
    >
        <ul @scroll="update_scroll_buttons()" :id="tab_id" class="consensus-progression-tables">
            <li v-for="(level_consensus_state, i_level) in consensus_states" class="text-nowrap">
                <div class="p-2 table-header">Level {{level_consensus_state.level}}</div>
                <table class="table-responsive">
                    <thead>
                        <tr>
                            <th
                                v-for="round_consensus_state in level_consensus_state.rounds_consensus_state"
                            >
                                <div>Round {{round_consensus_state.round}}</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td
                                v-for="(round_consensus_state, i_round) in level_consensus_state.rounds_consensus_state"
                            >
                                <div
                                    v-if="protocol_transition_level===level_consensus_state.level"
                                    class="protocol-injection-box"
                                >
                                    <div v-if="i_round!=0">
                                        Protocol injection
                                        <span class="text-red"><b>failed</b></span>
                                    </div>
                                    <div v-else-if="i_level===0">
                                        <span>Injecting new protocol&nbsp;</span>
                                        <div class="center">
                                            <b-spinner type="grow" class="ellipsis-point" />
                                            <b-spinner
                                                type="grow"
                                                class="ellipsis-point"
                                                style="animation-delay: 0.1s"
                                            />
                                            <b-spinner
                                                type="grow"
                                                class="ellipsis-point"
                                                style="animation-delay: 0.2s"
                                            />
                                        </div>
                                    </div>
                                    <div v-else>
                                        Protocol injection
                                        <span class="text-green"><b>successfull</b></span>
                                    </div>
                                </div>
                                <div v-else>
                                    <div
                                        :id="'level_' + level_consensus_state.level + '_round_' + round_consensus_state.round + '_preendo_id'"
                                    >
                                        <div
                                            v-if="round_consensus_state.consensus_state.preendorsement.ballots.counter==0 &&
					       round_consensus_state.consensus_state.endorsement.ballots.counter!=0"
                                        >
                                            <span>Preendorsement</span>
                                            <b-progress variant="secondary">
                                                <b-progress-bar value="100">
                                                    <i class="bi bi-eye-slash-fill" />
                                                </b-progress-bar>
                                            </b-progress>
                                            <b> -- / -- </b>
                                        </div>
                                        <div v-else>
                                            <span>Preendorsement</span>
                                            <b-progress
                                                :variant="round_consensus_state.consensus_state.preendorsement.ballots.consensus ? 'success' : 'danger'"
                                                :max="consensus_committee_size"
                                            >
                                                <b-progress-bar
                                                    :value="round_consensus_state.consensus_state.preendorsement.ballots.counter"
                                                >
                                                    {{round_consensus_state.consensus_state.preendorsement.ballots.percent_progression}}%
                                                </b-progress-bar>
                                            </b-progress>
                                            <b>
                                                {{round_consensus_state.consensus_state.preendorsement.ballots.counter}}
                                                / {{consensus_committee_size}}
                                            </b>
                                        </div>
                                    </div>
                                    <b-tooltip
                                        :target="'level_' + level_consensus_state.level + '_round_' + round_consensus_state.round + '_preendo_id'"
                                        placement="left"
                                        no-fade="false"
                                        delay="0"
                                        boundary="viewport"
                                    >
                                        <div
                                            v-if="round_consensus_state.consensus_state.preendorsement.reaching_quorum_operation_delta!=undefined"
                                        >
                                            Quorum reached after
                                            <b>
                                                {{round_consensus_state.consensus_state.preendorsement.reaching_quorum_operation_delta}}s
                                            </b>
                                        </div>
                                        <div v-else>No consensus yet</div>
                                        <div
                                            v-if="round_consensus_state.consensus_state.preendorsement.last_operation_delta!=undefined"
                                        >
                                            Last preendorsing operation seen after
                                            <b>
                                                {{round_consensus_state.consensus_state.preendorsement.last_operation_delta}}s
                                            </b>
                                        </div>
                                        <div v-else>No preendorsing operations seen yet</div>
                                    </b-tooltip>
                                    <div
                                        :id="'level_' + level_consensus_state.level + '_round_' + round_consensus_state.round + '_endo_id'"
                                    >
                                        <span>Endorsement</span>
                                        <b-progress
                                            :variant="round_consensus_state.consensus_state.endorsement.ballots.consensus ? 'success' : 'danger'"
                                            :max="consensus_committee_size"
                                        >
                                            <b-progress-bar
                                                :value="round_consensus_state.consensus_state.endorsement.ballots.counter"
                                            >
                                                {{round_consensus_state.consensus_state.endorsement.ballots.percent_progression}}%
                                            </b-progress-bar>
                                        </b-progress>
                                        <b>
                                            {{round_consensus_state.consensus_state.endorsement.ballots.counter}}
                                            / {{consensus_committee_size}}
                                        </b>
                                    </div>
                                    <b-tooltip
                                        :target="'level_' + level_consensus_state.level + '_round_' + round_consensus_state.round + '_endo_id'"
                                        placement="left"
                                        no-fade="true"
                                        delay="0"
                                        boundary="viewport"
                                    >
                                        <div
                                            v-if="round_consensus_state.consensus_state.endorsement.reaching_quorum_operation_delta!=undefined"
                                        >
                                            Quorum reached after
                                            <b>
                                                {{round_consensus_state.consensus_state.endorsement.reaching_quorum_operation_delta}}s
                                            </b>
                                        </div>
                                        <div v-else>No consensus yet</div>
                                        <div
                                            v-if="round_consensus_state.consensus_state.endorsement.last_operation_delta!=undefined"
                                        >
                                            Last endorsing operation seen after
                                            <b>
                                                {{round_consensus_state.consensus_state.endorsement.last_operation_delta}}s
                                            </b>
                                        </div>
                                        <div v-else>No endorsing operations seen yet</div>
                                    </b-tooltip>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <div class="consensus-progression-scroll-button-container" style="left: 0">
            <i
                @click="scroll_to('next')"
                :class="[{'disabled' : !can_scroll_down}, 'bi bi-chevron-down round-button scroll-button clickable']"
            ></i>
            <i
                @click="scroll_to('previous')"
                :class="[{'disabled' : !can_scroll_up}, 'bi bi-chevron-up round-button scroll-button clickable']"
            ></i>
        </div>
        <div class="consensus-progression-scroll-button-container" style="right: 0">
            <i
                @click="scroll_to('down')"
                :class="[{'disabled' : !can_scroll_down}, 'bi bi-chevron-double-down round-button scroll-button clickable']"
            ></i>
            <i
                @click="scroll_to('up')"
                :class="[{'disabled' : !can_scroll_up}, 'bi bi-chevron-double-up round-button scroll-button clickable']"
            ></i>
        </div>
    </div>
    <div v-else class="center title-spinner">
        <b-spinner small></b-spinner>
    </div>
</b-nav-item-dropdown>
