<div>
    <div class="light-border-spacing">
        <div v-if="newest_tab!=undefined">
            <div class="title-spinner">
                <h4 class="title-bc">CURRENT HEAD CONSENSUS OPERATIONS</h4>
            </div>
            <div class="table-responsive" style="max-height: 800px">
                <table
                    style="white-space: nowrap"
                    class="table w-100 d-block d-xl-table table-striped table-hover table-sm th-sticky-top"
                >
                    <thead>
                        <tr>
                            <th>Baker → slots (%)</th>
                            <th>
                                <span>Pre-endorsements</span>
                                <span id="newest_tab_prendo_ts">&nbsp;(TS)</span>
                                <span>
                                    | weight → {{newest_tab.voting_state.preendorsement.counter}}
                                    ({{newest_tab.voting_state.preendorsement.percent_progression}}%)
                                </span>
                            </th>
                            <th>
                                <span>Endorsements</span>
                                <span id="newest_tab_endo_ts">&nbsp;(TS)</span>
                                <span>
                                    | weight → {{newest_tab.voting_state.endorsement.counter}}
                                    ({{newest_tab.voting_state.endorsement.percent_progression}}%)
                                </span>
                            </th>
                            <b-tooltip
                                target="newest_tab_prendo_ts"
                                placement="top"
                                boundary="window"
                                custom-class="cops-hd-tooltip"
                                triggers="hover"
                            >
                                <div class="alert alert-secondary" role="alert">
                                    <p class="justified">
                                        Time elapsed between the moment the operation was fetched by
                                        the current node address/api and the time the block was
                                        proposed.
                                    </p>
                                </div>
                            </b-tooltip>
                            <b-tooltip
                                target="newest_tab_endo_ts"
                                boundary="window"
                                placement="top"
                                custom-class="cops-hd-tooltip"
                                triggers="hover"
                            >
                                <div class="alert alert-secondary" role="alert">
                                    <p class="justified">
                                        Time elapsed between the moment the operation was fetched by
                                        the current node address/api and the time the block was
                                        proposed.
                                    </p>
                                </div>
                            </b-tooltip>
                        </tr>
                    </thead>
                    <tbody>
                        <template
                            v-for="[baker, [baker_info, operations]] in newest_tab.baker_tabs"
                        >
                            <tr v-if="baker_info.is_missing" class="line-through">
                                <td class="inline-left">
                                    <v-hash
                                        v-bind:hash="baker"
                                        category="account"
                                        class="text-nowrap"
                                        v-slot="{ shorten_hash }"
                                    >
                                        <b>{{ shorten_hash }}</b>
                                    </v-hash>
                                    &nbsp;→ {{baker_info.endorsing_power}}
                                    ({{baker_info.endorsing_power_percent}}%)
                                </td>
                                <td />
                                <td />
                            </tr>
                            <tr v-else>
                                <td class="inline-left">
                                    <v-hash
                                        v-bind:hash="baker"
                                        category="account"
                                        class="text-nowrap"
                                        v-slot="{ shorten_hash }"
                                    >
                                        <b>{{ shorten_hash }}</b>
                                    </v-hash>
                                    &nbsp;→ {{baker_info.endorsing_power}}
                                    ({{baker_info.endorsing_power_percent}}%)
                                </td>
                                <td v-if="operations.preendorsement.length === 0">
                                    <i
                                        v-if="protocol_transition_level===newest_tab.level"
                                        class="bi bi-x-circle-fill"
                                    />
                                    <i v-else class="bi bi-eye-slash-fill" />
                                </td>
                                <td v-else-if="operations.preendorsement.length === 1">
                                    <div
                                        v-for="[hash, preendorsement] in operations.preendorsement"
                                        class="inline-left"
                                    >
                                        <v-hash
                                            v-bind:hash="hash"
                                            v-bind:class="[{'text-blue' : preendorsement.status === 'Applied'},
							  {'text-orange' : preendorsement.status === 'Outdated'}]"
                                            category="hash"
                                        >
                                        </v-hash>
                                        <span v-if="preendorsement.delta!=undefined">
                                            &nbsp;({{preendorsement.delta}}s)
                                        </span>
                                    </div>
                                </td>
                                <td v-else>
                                    <ul class="no-margin-padding inline-block-ul text-red">
                                        <li
                                            v-for="[hash, preendorsement] in operations.preendorsement"
                                        >
                                            <div class="inline-left">
                                                <v-hash v-bind:hash="hash" category="hash">
                                                </v-hash>
                                                <span v-if="preendorsement.delta!=undefined">
                                                    &nbsp;({{preendorsement.delta}}s)
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td v-if="operations.endorsement.length === 0">
                                    <i
                                        v-if="protocol_transition_level===newest_tab.level"
                                        class="bi bi-x-circle-fill"
                                    />
                                    <i v-else class="bi bi-eye-slash-fill" />
                                </td>
                                <td v-else-if="operations.endorsement.length === 1">
                                    <div
                                        v-for="[hash, endorsement] in operations.endorsement"
                                        class="inline-left"
                                    >
                                        <v-hash
                                            v-bind:hash="hash"
                                            v-bind:class="[{'text-blue' : endorsement.status === 'Applied'},
							  {'text-orange' : endorsement.status === 'Outdated'}]"
                                            category="hash"
                                        >
                                        </v-hash>
                                        <span v-if="endorsement.delta!=undefined">
                                            &nbsp;({{endorsement.delta}}s)
                                        </span>
                                    </div>
                                </td>
                                <td v-else>
                                    <ul class="no-margin-padding inline-block-ul text-red">
                                        <li v-for="[hash, endorsement] in operations.endorsement">
                                            <div class="inline-left">
                                                <v-hash v-bind:hash="hash" category="hash">
                                                </v-hash>
                                                <span v-if="endorsement.delta!=undefined">
                                                    &nbsp;({{endorsement.delta}}s)
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-else>
            <div class="title-spinner">
                <h4 class="title-bc">
                    CURRENT HEAD CONSENSUS OPERATIONS
                    <b-spinner v-if="baking_rights===undefined" class="spaced-spinner"></b-spinner>
                </h4>
            </div>
            <div class="table-responsive-xl">
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Baker → slots (%)</th>
                            <th>Pre-endorsements</th>
                            <th>Endorsements</th>
                        </tr>
                    </thead>
                    <tbody v-if="consensus_ops===undefined">
                        <tr v-for="i in 20">
                            <td style="height: 50px"></td>
                            <td style="height: 50px"></td>
                            <td style="height: 50px"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-if="other_tabs!=undefined && other_tabs.all_level_round.length">
            <div class="title-spinner">
                <h4 class="title-bc">OLD BLOCKS CONSENSUS OPERATIONS</h4>
            </div>
            <div class="table-responsive" style="max-height: 800px">
                <table
                    class="w-100 table-striped table-hover table-sm table-striped table-hover consensus-ops-table cell-min-width th-sticky-left th-sticky-top"
                >
                    <thead>
                        <tr>
                            <th class="centered-text table-corner border-top" style="width: 10%">
                                Level →
                            </th>
                            <th
                                v-for="[level, all_round] in other_tabs.all_level_round"
                                v-bind:colspan="2 * all_round.length"
                                scope="group"
                                class="centered-text border-top"
                            >
                                <span>{{level}}</span>
                                <span v-if="protocol_transition_level===level">
                                    &nbsp;Protocol transition
                                </span>
                            </th>
                        </tr>
                        <tr>
                            <th class="centered-text table-corner border-mid">Round →</th>
                            <template v-for="[level, all_round] in other_tabs.all_level_round">
                                <th
                                    v-for="round in all_round"
                                    colspan="2"
                                    class="centered-text border-mid"
                                >
                                    {{round}}
                                </th>
                            </template>
                        </tr>
                        <tr>
                            <th class="centered-text table-corner border-bot">Approval →</th>
                            <template v-for="[level, all_round] in other_tabs.all_level_round">
                                <template v-for="round in all_round">
                                    <th class="centered-text border-bot-L">Preendorsements</th>
                                    <th class="centered-text border-bot-R">Endorsements</th>
                                </template>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template
                            v-for="[baker, [baker_info, levels_rounds_operations]] in other_tabs.baker_tabs"
                        >
                            <tr v-if="baker_info.is_missing" class="line-through">
                                <th>
                                    <v-hash
                                        v-bind:hash="baker"
                                        category="account"
                                        class="center text-nowrap"
                                    >
                                    </v-hash>
                                </th>
                                <template v-for="[level, rounds] in levels_rounds_operations">
                                    <template
                                        v-for="[round, operations] in
                                           rounds"
                                    >
                                        <td />
                                        <td />
                                    </template>
                                </template>
                            </tr>
                            <tr v-else>
                                <th>
                                    <v-hash
                                        v-bind:hash="baker"
                                        category="account"
                                        class="center text-nowrap"
                                    >
                                    </v-hash>
                                </th>
                                <template v-for="[level, rounds] in levels_rounds_operations">
                                    <template
                                        v-for="[round, operations] in
                                           rounds"
                                    >
                                        <td
                                            v-if="operations.preendorsement.length === 0"
                                            class="centered-text"
                                        >
                                            <i
                                                v-if="protocol_transition_level===level"
                                                class="bi bi-x-circle-fill"
                                            />
                                            <i v-else class="bi bi-eye-slash-fill" />
                                        </td>
                                        <td v-else-if="operations.preendorsement.length === 1">
                                            <v-hash
                                                v-for="[hash, preendorsement] in operations.preendorsement"
                                                v-bind:hash="hash"
                                                category="hash"
                                                v-bind:class="[{'text-blue' : preendorsement.status === 'Applied'},
							      {'text-orange' : preendorsement.status === 'Outdated'},
							      'center']"
                                            >
                                            </v-hash>
                                        </td>
                                        <td v-else>
                                            <div class="center">
                                                <ul class="no-margin-padding inline-ul text-red">
                                                    <li
                                                        v-for="[hash, preendorsement] in operations.preendorsement"
                                                    >
                                                        <v-hash v-bind:hash="hash" category="hash">
                                                        </v-hash>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td
                                            v-if="operations.endorsement.length === 0"
                                            class="centered-text"
                                        >
                                            <i
                                                v-if="protocol_transition_level===level"
                                                class="bi bi-x-circle-fill"
                                            />
                                            <i v-else class="bi bi-eye-slash-fill" />
                                        </td>
                                        <td v-else-if="operations.endorsement.length === 1">
                                            <v-hash
                                                v-for="[hash, endorsement] in operations.endorsement"
                                                v-bind:hash="hash"
                                                category="hash"
                                                v-bind:class="[{'text-blue' : endorsement.status === 'Applied'},
							      {'text-orange' : endorsement.status === 'Outdated'},
							      'center']"
                                            >
                                            </v-hash>
                                        </td>
                                        <td v-else>
                                            <div class="center">
                                                <ul class="no-margin-padding inline-ul text-red">
                                                    <li
                                                        v-for="[hash, endorsement] in operations.endorsement"
                                                    >
                                                        <v-hash v-bind:hash="hash" category="hash">
                                                        </v-hash>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </template>
                                </template>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="center legend-table">
            <div class="centered-text">
                <span class="small-legend-size text-blue">Applied operations</span>
            </div>
            <div class="centered-text">
                <span class="small-legend-size text-orange">Oudated operations</span>
            </div>
            <div class="centered-text">
                <span class="small-legend-size text-red">Multiple operations</span>
            </div>
            <div class="centered-text">
                <span class="small-legend-size line">Missing baker</span>
            </div>
            <div class="centered-text">
                <span class="small-legend-size">
                    <i class="bi bi-eye-slash-fill"></i> Already included or unseen operations
                </span>
            </div>
            <div class="centered-text">
                <span class="small-legend-size">
                    <i class="bi bi-x-circle-fill" /> No operations due to protocol injection
                </span>
            </div>
        </div>
    </div>
</div>
