<div>
    <b-button
        id="share-url"
        @mouseover="hover_copy()"
        @click="copy_url()"
        size="sm"
        class="mx-2"
        variant="dark"
    >
        <i class="bi bi-link-45deg"></i>
    </b-button>
    <b-tooltip target="share-url" triggers="hover">
        <p class="text-nowrap">{{ text }}</p>
    </b-tooltip>
</div>
