<div>
    <div @mouseenter="get_info()">
        <v-hash
            :id="'commitment-' + hash + '-' + id"
            v-bind:hash="hash"
            category="hash"
            class="triggerable"
        />
        <b-tooltip :target="'commitment-' + hash + '-' + id" triggers="hover" boundary="window">
            <div v-if="info!=undefined">
                <div class="center">
                    <div>Compressed state →&nbsp;</div>
                    <v-hash v-bind:hash="info.compressed_state" category="hash" />
                </div>
                Inbox level → {{ info.inbox_level }}
                <br />
                <div class="center">
                    <div>Predessor →&nbsp;</div>
                    <v-hash v-bind:hash="info.predecessor" category="hash" />
                </div>
                Number of ticks → {{ info.number_of_ticks }}
            </div>
            <div v-else-if="processed" class="center">No information</div>
            <b-spinner v-else />
        </b-tooltip>
    </div>
</div>
