<div class="light-border-spacing">
    <div
        style="
            display: grid;
            grid-template-columns: auto minmax(200px, 400px) minmax(400px, 1fr);
            margin-bottom: 25px;
            column-gap: 25px;
            row-gap: 25px;
        "
    >
        <div
            class="light-margin"
            style="
                background-color: #343a40;
                padding: 15px 20px;
                border-radius: 10px;
                height: fit-content;
            "
        >
            <b-dropdown id="dropdown-inbox" text="Inbox">
                <div
                    v-if="l1_gen_infos!=undefined"
                    style="margin-inline: 10px; white-space: nowrap"
                >
                    <div style="margin-inline: 10px; white-space: nowrap">
                        <table
                            style="border: 1px solid rgba(0, 0, 0, 0.125); table-layout: auto"
                            class="table"
                        >
                            <thead class="centered">
                                <tr>
                                    <th colspan="3">History</th>
                                </tr>
                                <tr>
                                    <th>Index</th>
                                    <th>Level</th>
                                    <th>Hash</th>
                                </tr>
                            </thead>
                            <tbody class="centered-text">
                                <tr>
                                    <td>{{ l1_gen_infos.inbox.old_levels_messages.index }}</td>
                                    <td>
                                        {{ l1_gen_infos.inbox.old_levels_messages.content.level }}
                                    </td>
                                    <td>
                                        <v-hash
                                            v-bind:hash="l1_gen_infos.inbox.old_levels_messages.content.hash"
                                            category="hash"
                                            class="center"
                                            style="color: #ff3434"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="light-margin-bottom light-margin-top center">
                            <i class="bi bi-chevron-double-down" />
                            &nbsp;Backpointers&nbsp;
                            <i class="bi bi-chevron-double-down" />
                        </div>
                        <ul class="list-group" style="overflow-y: scroll; max-height: 300px">
                            <li
                                v-for="(back_pointer,i) in l1_gen_infos.inbox.old_levels_messages.back_pointers"
                                class="list-group-item center"
                            >
                                <v-hash
                                    v-bind:hash="back_pointer"
                                    category="hash"
                                    style="color: blue"
                                />
                            </li>
                        </ul>
                    </div>
                </div>
            </b-dropdown>
        </div>
        <div style="position: relative">
            <div style="position: absolute; right: 0; transform: translate(50%, -50%)">
                <button id="smart-rollup-info" style="background: none; border: none">
                    <i class="bi bi-info-circle" />
                </button>
                <b-tooltip target="smart-rollup-info">
                    <div class="light-border-spacing" role="alert">
                        <p class="justified">
                            <b>(*)</b> Note that smart optimistic rollup are only available/enabled
                            from protocol <b><u>Mumbai</u></b
                            >.
                        </p>
                    </div>
                </b-tooltip>
            </div>
            <div
                class="light-margin"
                style="background-color: #343a40; padding: 15px 20px; border-radius: 10px"
            >
                <div>
                    <b-form-select v-model="selected_id" @change="get_form_values(selected_id)">
                        <b-form-select-option disabled>Choose a SORU id</b-form-select-option>
                        <template
                            v-if="l1_gen_infos!=undefined&&l1_gen_infos.soru_addresses.length!=0"
                        >
                            <b-form-select-option
                                v-for="address in l1_gen_infos.soru_addresses"
                                :value="address"
                            >
                                {{ address }}
                            </b-form-select-option>
                        </template>
                        <template v-else>
                            <b-form-select-option disabled>
                                No SORU address available
                            </b-form-select-option>
                        </template>
                    </b-form-select>
                </div>
            </div>
        </div>
        <div style="overflow: scroll">
            <table class="table table-striped" style="table-layout: auto">
                <thead class="centered-text middle">
                    <tr>
                        <th>Id</th>
                        <th>PVM Kind</th>
                        <th>Genesis level</th>
                        <th>Genesis hash</th>
                        <th>Last cemented commitment</th>
                        <th>Number of stakers</th>
                        <th>Number of conflicts</th>
                    </tr>
                </thead>
                <tbody v-if="soru_context!=undefined" class="centered-text">
                    <tr>
                        <td>
                            <v-hash v-bind:hash="soru_context.id" category="hash" class="center" />
                        </td>
                        <td v-if="l1_id_infos!=undefined">{{ l1_id_infos.kind }}</td>
                        <td v-else><b-spinner /></td>
                        <td v-if="l1_id_infos!=undefined">{{ l1_id_infos.genesis_info.level }}</td>
                        <td v-else><b-spinner /></td>
                        <td v-if="l1_id_infos!=undefined">
                            <v-soru_commitment
                                :key="l1_id_infos.genesis_info.commitment_hash"
                                v-bind:hash="l1_id_infos.genesis_info.commitment_hash"
                            />
                        </td>
                        <td v-else><b-spinner /></td>
                        <td v-if="l1_id_infos!=undefined">
                            <v-soru_commitment
                                :key="l1_id_infos.last_cemented_commitment.hash"
                                v-bind:hash="l1_id_infos.last_cemented_commitment.hash"
                            />
                        </td>
                        <td v-else><b-spinner /></td>
                        <td v-if="(l1_id_infos!=undefined&&l1_id_infos.stakers_info!=undefined)">
                            {{ l1_id_infos.stakers_info.length }}
                        </td>
                        <td v-else><b-spinner /></td>
                        <td v-if="(l1_id_infos!=undefined&&l1_id_infos.conflicts!=undefined)">
                            {{ l1_id_infos.conflicts.length }}
                        </td>
                        <td v-else><b-spinner /></td>
                    </tr>
                </tbody>
                <tbody v-else class="centered-text">
                    <tr>
                        <td v-for="i in 7">-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="display: flex; margin-bottom: 25px">
        <div style="width: 50%; margin-right: 25px">
            <table class="table table-striped table-hover" style="table-layout: auto">
                <thead class="centered">
                    <tr>
                        <th>Staker</th>
                        <th>Id</th>
                        <th>Last commitment level</th>
                        <th>Last commitment</th>
                    </tr>
                </thead>
                <tbody v-if="soru_context===undefined" class="centered-text">
                    <tr>
                        <td v-for="i in 4">-</td>
                    </tr>
                </tbody>
                <tbody
                    v-else-if="(pending_ops.id_infos||
			     l1_id_infos===undefined||
			     l1_id_infos.stakers_info===undefined)"
                    class="centered-text"
                >
                    <tr>
                        <td colspan="4"><b-spinner /></td>
                    </tr>
                </tbody>
                <tbody v-else-if="l1_id_infos.stakers_info.length===0" class="centered-text">
                    <tr class="darker-background-below">
                        <td colspan="4">No stakers</td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr v-for="[staker, info] in l1_id_infos.stakers_info">
                        <td class="center"><v-hash v-bind:hash="staker" category="account" /></td>
                        <td class="centered-text">{{ info.id }}</td>
                        <td v-if="info.last_commitment!=undefined" class="centered-text">
                            {{ info.last_commitment.info.inbox_level }}
                        </td>
                        <td v-else class="centered-text">-</td>
                        <td v-if="info.last_commitment!=undefined" class="center">
                            <v-soru_commitment
                                :key="info.last_commitment.hash"
                                v-bind:hash="info.last_commitment.hash"
                            />
                        </td>
                        <td v-else class="centered-text">-</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 50%; margin-right: 25px">
            <table class="table table-striped table-hover">
                <thead class="centered">
                    <tr>
                        <th>
                            <div class="center" style="white-space: nowrap">
                                <div>Commitment tree&nbsp;</div>
                                <b-button
                                    v-if="soru_context===undefined||
					  l1_id_infos===undefined||
					  pending_ops.id_infos||
					  !l1_id_infos.commitment_tree_context.is_running"
                                    :disabled="soru_context===undefined||
					      l1_id_infos===undefined||
					      pending_ops.id_infos||
					      l1_id_infos.commitment_tree_context.is_playing"
                                    @click="l1_id_infos.commitment_tree_context.update()"
                                    style="margin-right: 10px"
                                >
                                    <i class="bi bi-arrow-clockwise" />
                                </b-button>
                                <b-button v-else disabled style="margin-right: 10px">
                                    <b-spinner small />
                                </b-button>
                                <b-button
                                    v-if="soru_context===undefined||
					  l1_id_infos===undefined||
					  pending_ops.id_infos||
					  (!l1_id_infos.commitment_tree_context.is_running&&
					  !l1_id_infos.commitment_tree_context.is_playing)"
                                    :disabled="soru_context===undefined||
					      l1_id_infos===undefined||
					      pending_ops.id_infos"
                                    @click="l1_id_infos.commitment_tree_context.play()"
                                >
                                    <i class="bi bi-play-fill" />
                                </b-button>
                                <b-button
                                    v-else
                                    @click="l1_id_infos.commitment_tree_context.pause()"
                                >
                                    <i class="bi bi-pause-fill" />
                                </b-button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody v-if="soru_context===undefined" class="centered-text">
                    <tr>
                        <td>-</td>
                    </tr>
                </tbody>
                <tbody
                    v-else-if="(pending_ops.id_infos||
			     l1_id_infos===undefined||
			     l1_id_infos.commitment_tree_context.commitment_tree===undefined)"
                    class="centered-text"
                >
                    <tr>
                        <td><div class="tree-box" /></td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td>
                            <div class="tree-box">
                                <div class="tree-box-content tree">
                                    <ul>
                                        <li>
                                            <div style="display: flex">
                                                <b style="color: black">LCC →&nbsp;</b>
                                                <v-soru_commitment
                                                    :key="l1_id_infos.commitment_tree_context.commitment_tree.commitment"
                                                    v-bind:hash="l1_id_infos.commitment_tree_context.commitment_tree.commitment"
                                                />
                                            </div>
                                            <v-commitment_tree
                                                v-for="child in l1_id_infos.commitment_tree_context.commitment_tree.childs"
                                                :key="child.commitment"
                                                :stakers="child.stakers"
                                                :commitment="child.commitment"
                                                :childs="child.childs"
                                            />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="display: flex; margin-bottom: 25px">
        <div style="width: 50%; margin-right: 25px">
            <table class="table table-striped table-hover">
                <thead class="centered">
                    <tr>
                        <th>Conflicts</th>
                    </tr>
                </thead>
                <tbody v-if="soru_context===undefined" class="centered-text">
                    <tr>
                        <td>-</td>
                    </tr>
                </tbody>
                <tbody
                    v-else-if="(pending_ops.id_infos||
			     l1_id_infos===undefined||
			     l1_id_infos.conflicts===undefined)"
                    class="centered-text"
                >
                    <tr class="darker-background-below">
                        <td><b-spinner /></td>
                    </tr>
                </tbody>
                <tbody v-else-if="l1_id_infos.conflicts.length===0" class="centered-text">
                    <tr class="darker-background-below">
                        <td>No conflicts</td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr v-for="conflict in l1_id_infos.conflicts">
                        <td>
                            <div class="center">
                                <div>At level {{ conflict.inbox_level }}:&nbsp;</div>
                                <v-hash v-bind:hash="conflict.staker1[0]" category="account" />
                                <div>&nbsp;-&nbsp;</div>
                                <v-hash v-bind:hash="conflict.staker2[0]" category="account" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 50%; margin-right: 25px">
            <table class="table">
                <thead class="centered">
                    <tr>
                        <th>Refutation games</th>
                    </tr>
                </thead>
                <tbody v-if="soru_context===undefined" class="centered-text">
                    <tr class="darker-background-below">
                        <td>-</td>
                    </tr>
                </tbody>
                <tbody
                    v-else-if="(pending_ops.id_infos||
			     l1_id_infos===undefined||
			     l1_id_infos.games===undefined)"
                    class="centered-text"
                >
                    <tr class="darker-background-below">
                        <td><b-spinner /></td>
                    </tr>
                </tbody>
                <tbody v-else-if="l1_id_infos.games.length===0" class="centered-text">
                    <tr class="darker-background-below">
                        <td>No games</td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr v-for="([game_id, game], i) in l1_id_infos.games">
                        <b-card no-body class="mb-1">
                            <b-card-header class="p-1">
                                <b-button
                                    block
                                    v-b-toggle="'accordion-' + i"
                                    style="display: flex; justify-content: space-around"
                                >
                                    <div class="extra-light-margin-right">
                                        Conflict at level: {{ game_id.inbox_level }}
                                    </div>
                                    <div
                                        style="
                                            display: flex;
                                            justify-content: space-around;
                                            margin: auto 10px;
                                        "
                                    >
                                        <div class="extra-light-margin-right">Alice:</div>
                                        <v-hash v-bind:hash="game_id.alice" category="account" />
                                    </div>
                                    <div
                                        style="
                                            display: flex;
                                            justify-content: space-around;
                                            margin: auto 10px;
                                        "
                                    >
                                        <div class="extra-light-margin-right">Bob:</div>
                                        <v-hash v-bind:hash="game_id.bob" category="account" />
                                    </div>
                                </b-button>
                            </b-card-header>
                            <b-collapse :id="'accordion-' + i" :visible="i===0">
                                <div style="position: absolute; right: 0">
                                    <button
                                        :id="'game-info-button-' + i"
                                        style="background: none; border: none"
                                    >
                                        <i class="bi bi-info-circle" />
                                    </button>
                                    <b-tooltip :target="'game-info-button-' + i">
                                        <div>tick: state</div>
                                        <div class="text-green">tick: agreed state</div>
                                        <div class="text-red">tick: refuted state</div>
                                    </b-tooltip>
                                </div>
                                <b-card-body
                                    style="display: flex; white-space: nowrap"
                                    class="scroll-shadows"
                                >
                                    <div
                                        v-for="([level, turn], j) in game.turns"
                                        class="darker-background-below"
                                        style="
                                            height: fit-content;
                                            padding: 10px;
                                            border-radius: 5px;
                                            margin: 0px 10px;
                                        "
                                    >
                                        <div
                                            class="center darker-background-below"
                                            style="padding: 10px; margin: 10px"
                                        >
                                            <div v-if="j===0">Start</div>
                                            <div v-else-if="turn.turn.Bob!=undefined">Alice</div>
                                            <div v-else-if="turn.turn.Alice!=undefined">Bob</div>
                                        </div>
                                        <table
                                            class="table no-padding no-border"
                                            style="
                                                border-collapse: separate;
                                                border-spacing: 10px 0;
                                                margin-top: 10px;
                                                width: auto;
                                            "
                                        >
                                            <tbody v-if="turn.game_state.Dissecting!=undefined">
                                                <template v-if="j===0">
                                                    <tr class="text-green">
                                                        <td>
                                                            {{
                                                            turn.game_state.Dissecting.dissection[0].tick
                                                            }}:
                                                        </td>
                                                        <td
                                                            v-if="turn.game_state.Dissecting.dissection[0].state!=undefined"
                                                        >
                                                            <v-hash
                                                                v-bind:hash="turn.game_state.Dissecting.dissection[0].state"
                                                                category="hash"
                                                            />
                                                        </td>
                                                        <td v-else class="centered-text">-</td>
                                                    </tr>
                                                    <tr class="text-red">
                                                        <td>
                                                            {{
                                                            turn.game_state.Dissecting.dissection[1].tick
                                                            }}:
                                                        </td>
                                                        <td
                                                            v-if="turn.game_state.Dissecting.dissection[1].state!=undefined"
                                                        >
                                                            <v-hash
                                                                v-bind:hash="turn.game_state.Dissecting.dissection[1].state"
                                                                category="hash"
                                                            />
                                                        </td>
                                                        <td v-else class="centered-text">-</td>
                                                    </tr>
                                                </template>
                                                <template
                                                    v-else-if="turn.last_agree_tick===undefined"
                                                >
                                                    <tr
                                                        v-for="chunk in turn.game_state.Dissecting.dissection"
                                                    >
                                                        <td>{{ chunk.tick }}:</td>
                                                        <td v-if="chunk.state!=undefined">
                                                            <v-hash
                                                                v-bind:hash="chunk.state"
                                                                category="hash"
                                                            />
                                                        </td>
                                                        <td v-else class="centered-text">-</td>
                                                    </tr>
                                                </template>
                                                <template v-else>
                                                    <tr
                                                        v-for="chunk in turn.game_state.Dissecting.dissection"
                                                        v-if="turn.last_agree_tick >= chunk.tick"
                                                        class="text-green"
                                                    >
                                                        <td>{{ chunk.tick }}:</td>
                                                        <td v-if="chunk.state!=undefined">
                                                            <v-hash
                                                                v-bind:hash="chunk.state"
                                                                category="hash"
                                                            />
                                                        </td>
                                                        <td v-else class="centered-text">-</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="centered-text">
                                                            <i class="bi bi-arrow-right" />
                                                        </td>
                                                    </tr>
                                                    <tr
                                                        v-for="chunk in turn.game_state.Dissecting.dissection"
                                                        v-if="turn.last_agree_tick < chunk.tick"
                                                        class="text-red"
                                                    >
                                                        <td>{{ chunk.tick }}:</td>
                                                        <td v-if="chunk.state!=undefined">
                                                            <v-hash
                                                                v-bind:hash="chunk.state"
                                                                category="hash"
                                                            />
                                                        </td>
                                                        <td v-else class="centered-text">-</td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                            <tbody v-if="turn.game_state.Final_move!=undefined">
                                                <tr class="text-green">
                                                    <td>
                                                        {{
                                                        turn.game_state.Final_move.agreed_start_chunk.tick
                                                        }}:
                                                    </td>
                                                    <td
                                                        v-if="turn.game_state.Final_move.agreed_start_chunk.state!=undefined"
                                                    >
                                                        <v-hash
                                                            v-bind:hash="turn.game_state.Final_move.agreed_start_chunk.state"
                                                            category="hash"
                                                        />
                                                    </td>
                                                    <td v-else class="centered-text">-</td>
                                                </tr>
                                                <tr class="text-red">
                                                    <td>
                                                        {{
                                                        turn.game_state.Final_move.refuted_stop_chunk.tick
                                                        }}:
                                                    </td>
                                                    <td
                                                        v-if="turn.game_state.Final_move.refuted_stop_chunk.state!=undefined"
                                                    >
                                                        <v-hash
                                                            v-bind:hash="turn.game_state.Final_move.refuted_stop_chunk.state"
                                                            category="hash"
                                                        />
                                                    </td>
                                                    <td v-else class="centered-text">-</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div
                                        v-if="game.ending!=undefined"
                                        class="darker-background-below"
                                        style="
                                            height: fit-content;
                                            padding: 10px;
                                            border-radius: 5px;
                                            margin: 0px 10px;
                                        "
                                    >
                                        <div
                                            class="center darker-background-below"
                                            style="padding: 10px; margin: 10px"
                                        >
                                            <div v-if="game.ending.game_result.Draw!=undefined">
                                                Draw
                                            </div>
                                            <div
                                                v-else-if="game.ending.game_result.Loser!=undefined"
                                            >
                                                <div
                                                    v-if="game.ending.game_result.Loser.reason==='Conflict_resolved'"
                                                >
                                                    Conflict resolved
                                                </div>
                                                <div
                                                    v-if="game.ending.game_result.Loser.reason==='Timeout'"
                                                >
                                                    Timeout
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin: 10px; text-align: center">
                                            <div v-if="game.ending.game_result.Draw!=undefined">
                                                Alice and Bob both lost
                                            </div>
                                            <div
                                                v-else-if="game.ending.game_result.Loser!=undefined"
                                            >
                                                <div
                                                    v-if="game.ending.game_result.Loser.player===game_id.alice"
                                                >
                                                    Alice lost
                                                </div>
                                                <div
                                                    v-else-if="game.ending.game_result.Loser.player===game_id.bob"
                                                >
                                                    Bob lost
                                                </div>
                                                <div v-else class="center">
                                                    <v-hash
                                                        v-bind:hash="game.ending.game_result.Loser.player"
                                                        category="account"
                                                    />
                                                    <div>&nbsp;lost</div>
                                                </div>
                                            </div>
                                            <br />
                                            <div v-if="game.ending.refutation===undefined" />
                                            <div
                                                v-else-if="game.ending.refutation.Start!=undefined"
                                                class="center"
                                            >
                                                <div>Start</div>
                                                <v-hash
                                                    v-bind:hash="game.ending.refutation.Start.player_commitment_hash"
                                                    category="hash"
                                                />
                                                <v-hash
                                                    v-bind:hash="game.ending.refutation.Start.opponent_commitment_hash"
                                                    category="hash"
                                                />
                                            </div>
                                            <div v-else-if="game.ending.refutation.Move!=undefined">
                                                <table
                                                    v-if="game.ending.refutation.Move.step.Dissection!=undefined"
                                                    class="table no-padding no-border"
                                                    style="
                                                        border-collapse: separate;
                                                        border-spacing: 10px 0;
                                                        margin-top: 10px;
                                                        width: auto;
                                                    "
                                                >
                                                    <tbody>
                                                        <tr
                                                            v-for="chunk in game.ending.refutation.Move.step.Dissection"
                                                        >
                                                            <td>{{ chunk.tick }}:</td>
                                                            <td v-if="chunk.state!=undefined">
                                                                <v-hash
                                                                    v-bind:hash="chunk.state"
                                                                    category="hash"
                                                                />
                                                            </td>
                                                            <td v-else class="centered-text">-</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div
                                                    v-else-if="game.ending.refutation.Move.step.Proof!=undefined"
                                                >
                                                    <div>Pvm proof step:</div>
                                                    <v-hash
                                                        v-bind:hash="game.ending.refutation.Move.step.Proof.pvm_step"
                                                        category="hash"
                                                        class="center"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </b-card-body>
                            </b-collapse>
                        </b-card>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
